@charset "utf-8";
/* CSS Document */
.hh1{
	text-align:center;
	color:green;
	font-size:36px;}
	.immg{
		margin-left:320px;
		width:250px;
		padding-top:50px;
		vertical-align:central;
		margin-top:30px;
		}
